<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
    	<meta charset="UTF-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    	<title>home</title>
    	
    	<style>
    		#opcoes{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			
			h1{
				color: blue;
			}
    		
    	</style>
    </head>
	<body>
		<h1>Projeto Inicial</h1>
		<div id="opcoes">
			<a href="curso/cadastrar.html">Cadastro</a>
			<a href="">Consulta</a>
			<a href="">Atualizar</a>
			<a href="">Deleção</a>
		</div >
	</body>
</html>